<section>
    <div class="ext-gap bluesh high-opacity">
        <div class="content-bg-wrap" style="background: url(assets/images/resources/animated-bg2.png)"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-banner">
                        <h1>404</h1>
                        <nav class="breadcrumb">
                          <a class="breadcrumb-item" href="">Home</a>
                          <span class="breadcrumb-item active">error</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- top area animated -->