<div class="central-meta">
    <div class="new-postbox">
      <figure>
        <img src="assets/images/resources/admin2.jpg" alt="" />
      </figure>
      <div class="newpst-input">
        <form method="post">
          <textarea
            rows="3"
            placeholder="Write something"
          ></textarea>
          <div class="attachments">
            <ul>
              <li>
                <button type="submit">Post</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>