<div class="central-meta">
    <div class="new-postbox">
      <figure>
        <img src="assets/images/resources/admin2.jpg" alt="" />
      </figure>
      <div class="newpst-input">
        <form method="post">
          <textarea
            [(ngModel)]="typedMessage"
            [ngClass]="{'input-danger' : getCharactersLeft() < 0}"
            name="typedMessage"
            rows="3"
            placeholder="Write something"
          ></textarea>
          <div class="attachments">
            <ul>
              <li>
                <span [ngClass]="{'red-text-alert' : getCharactersLeft() < 0}">
                  {{ getCharactersLeft() }} remaining
                </span>
                <button type="submit">Post</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>