<app-full-modal>
  <div modal-body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
      <section>
        <div class="feature-photo">
          <div class="add-btn">
            <span>1205 followers</span>
            <a href="#" title="" data-ripple="">Add Friend</a>
          </div>
          <div class="container-fluid">
            <div class="row merged">
              <div class="col-lg-2 col-sm-3">
                <div class="user-avatar">
                  <figure>
                    <img src=" assets/images/resources/user-avatar.jpg" alt="" />
                  </figure>
                </div>
              </div>
              <div class="col-lg-10 col-sm-9">
                <div class="timeline-info">
                  <ul>
                    <li class="admin-name">
                      <h5>Janice Griffith</h5>
                      <span>Group Admin</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- top area -->

      <section>
        <div class="gap gray-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="row" id="page-contents">
                  <div class="col-lg-9">
                    <div class="central-meta">
                      <div class="editing-info">
                        <h5 class="f-title">
                          <i class="ti-info-alt"></i> User Posts
                        </h5>
                        <app-home-type-new-post *ngIf="postInteraction !== null" [postInteraction]="postInteraction"
                          (postInteractionClear)='postInteraction = null'></app-home-type-new-post>

                        <app-show-individual-post
                          *ngFor="let post of getUserPosts()"
                          [post]="post"
                          (newPostWithInteraction)="postInteraction = $event"
                      
                        ></app-show-individual-post>
                      </div>
                    </div>
                  </div>
                  <!-- centerl meta -->
                  <div class="col-lg-3">
                    <aside class="sidebar static">
                      <div class="widget stick-widget">
                        <h4 class="widget-title">Edit info</h4>
                        <ul class="naves">
                          <li>
                            <i class="ti-info-alt"></i>
                            <a href="edit-profile-basic.html" title="">Basic info</a>
                          </li>
                          <li>
                            <i class="ti-mouse-alt"></i>
                            <a href="edit-work-eductation.html" title="">Education & Work</a>
                          </li>
                          <li>
                            <i class="ti-heart"></i>
                            <a href="edit-interest.html" title="">My interests</a>
                          </li>
                          <li>
                            <i class="ti-settings"></i>
                            <a href="edit-account-setting.html" title="">account setting</a>
                          </li>
                          <li>
                            <i class="ti-lock"></i>
                            <a href="edit-password.html" title="">change password</a>
                          </li>
                        </ul>
                      </div>
                      <div class="widget stick-widget">
                        <h4 class="widget-title">Who's follownig</h4>
                        <ul class="followers">
                          <li>
                            <figure>
                              <img src=" assets/images/resources/friend-avatar2.jpg" alt="" />
                            </figure>
                            <div class="friend-meta">
                              <h4>
                                <a href="time-line.html" title="">Kelly Bill</a>
                              </h4>
                              <a href="#" title="" class="underline">Add Friend</a>
                            </div>
                          </li>
                          <li>
                            <figure>
                              <img src=" assets/images/resources/friend-avatar4.jpg" alt="" />
                            </figure>
                            <div class="friend-meta">
                              <h4>
                                <a href="time-line.html" title="">Issabel</a>
                              </h4>
                              <a href="#" title="" class="underline">Add Friend</a>
                            </div>
                          </li>
                          <li>
                            <figure>
                              <img src=" assets/images/resources/friend-avatar6.jpg" alt="" />
                            </figure>
                            <div class="friend-meta">
                              <h4>
                                <a href="time-line.html" title="">Andrew</a>
                              </h4>
                              <a href="#" title="" class="underline">Add Friend</a>
                            </div>
                          </li>
                          <li>
                            <figure>
                              <img src=" assets/images/resources/friend-avatar8.jpg" alt="" />
                            </figure>
                            <div class="friend-meta">
                              <h4>
                                <a href="time-line.html" title="">Sophia</a>
                              </h4>
                              <a href="#" title="" class="underline">Add Friend</a>
                            </div>
                          </li>
                          <li>
                            <figure>
                              <img src=" assets/images/resources/friend-avatar3.jpg" alt="" />
                            </figure>
                            <div class="friend-meta">
                              <h4>
                                <a href="time-line.html" title="">Allen</a>
                              </h4>
                              <a href="#" title="" class="underline">Add Friend</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <!-- who's following -->
                    </aside>
                  </div>
                  <!-- sidebar -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</app-full-modal>