.follow-unfollow-button {
    padding: 0px 16px;
    border-radius: 8px;
    background-color: #4aafb8;
    color: white;
    border: none;
    font-size: 15px;
    line-height: 32px;
}

.follow:hover {

    background-color: #8fd7dd;

}

.unfollow {
    background-color: #bfc6c7;
}

.unfollow:hover {
    background-color: #ccc9ca;
}