<section>
    <div class="gap100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-eror">
                        <img src="assets/images/resources/404.svg" alt="">
                        <div class="error-meta">
                            <h1>whoops! 404</h1>
                            <span>we couldn't find that page </span>
                            <a [routerLink]="''" title="" data-ripple="">Go Back Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>