<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 footer-item">
        <div class="widget">
          <div class="foot-logo">
            <div class="logo">
              <a [routerLink]="homeRootRoute" title=""
                ><img class="rodape-logo" src="assets/images/logo.png" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 footer-item">
        <p>
          This is a test project done with a lot of love and dedication by Daniel Fiedler. Thanks for rating!
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
