<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="widget">
          <div class="foot-logo">
            <div class="logo">
              <a [routerLink]="homeRootRoute" title=""
                ><img src="assets/images/logo.png" alt=""
              /></a>
            </div>
            <p>
              The trio took this simple idea and built it into the world’s
              leading carpooling platform.
            </p>
          </div>
          <ul class="location">
            <li>
              <i class="ti-map-alt"></i>
              <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
            </li>
            <li>
              <i class="ti-mobile"></i>
              <p>+1-56-346 345</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="widget">
          <div class="widget-title"><h4>download apps</h4></div>
          <ul class="colla-apps">
            <li>
              <a href="https://play.google.com/store?hl=en" title=""
                ><i class="fa fa-android"></i>android</a
              >
            </li>
            <li>
              <a href="https://www.apple.com/lae/ios/app-store/" title=""
                ><i class="ti-apple"></i>iPhone</a
              >
            </li>
            <li>
              <a href="https://www.microsoft.com/store/apps" title=""
                ><i class="fa fa-windows"></i>Windows</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
