<div class="topbar stick">
  <div class="logo">
    <a title="" [routerLink]="homeRootRoute">
      <img class="header-logo" src="assets/images/logo.png" alt="" />
    </a>
  </div>

  <div class="top-area">
    <div class="user-img">
      <img [src]="loggedUserData?.photo" alt="" />
      <span class="status f-online"></span>
      <div class="user-setting">
        <a [routerLink]="[ {outlets: { modal: ['user', loggedUserData?.id] } } ]" title="">
          <i class="ti-user"></i>
          view profile
        </a>
      </div>
    </div>
  </div>
</div>
<!-- topbar -->
