<div class="central-meta item">
  <div class="user-post">
    <div class='reposted align-right strong-text' *ngIf="post.type === postTypes['repost']">
      <i _ngcontent-usr-c19="" class="ti-back-right"></i> Reposted
    </div>
    <div class='reposted align-right strong-text' *ngIf="post.type === postTypes['quote']">
      <i _ngcontent-usr-c19="" class="ti-layers"></i> Quoted
    </div>
    <div class="friend-info gap2">
      <div class='friend-info friend-info-name-photo' [routerLink]="[ '', {outlets: { modal: ['user', post.userId] } } ]">
        <figure>
          <img [src]="user.photo" alt="" />
        </figure>
        <div class="friend-name">
          <ins><a title="">{{ user.name }}</a></ins>
          <span>published: {{ post.date | date:'medium' }}</span>
        </div>
      </div>
      <div class="post-meta">
        <div class='post-quoted' *ngIf="showTargetPost()">
          <div class="post-quoted-header">
            <span *ngIf="post.type === postTypes['repost']">
              <i _ngcontent-usr-c19="" class="ti-back-right"></i> Reposted
            </span>
            <span *ngIf="post.type === postTypes['quote']">
              <i _ngcontent-usr-c19="" class="ti-layers"></i> Quoted
            </span>
            from
            <app-user-name-photo-text [user]="targetPostUser"></app-user-name-photo-text>
          </div>
          <div class="post-quoted-body">
            {{ targetPost?.message }}
          </div>
        </div>
        <div class="description" *ngIf="postTypes['repost'] !== post.type">
          <p>
            {{ post.message }}
          </p>
        </div>
      </div>
    </div>
    <div class='post-actions'>
      <div class="post-actions-item post-action-repost" (click)="postInteractionTrigger(postTypes['repost'])">
        <i _ngcontent-usr-c19="" class="ti-back-right"></i> Repost
      </div>
      <div class="post-actions-item post-action-quote"  (click)="postInteractionTrigger(postTypes['quote'])">
        <i _ngcontent-usr-c19="" class="ti-layers"></i> Quote
      </div>
    </div>
  </div>
</div>