.post-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.friend-info-name-photo, .post-actions-item {
    cursor: pointer;
}

.post-actions-item {
    margin: 2.5%;
}

.post-quoted {
    background-color: #dee3e4;
    padding: 8px;
    border-radius: 8px;
}