<div class="central-meta item">
    <div class="user-post">
      <div class="friend-info">
        <figure>
          <img
            [routerLink]="[ {outlets: { modal: ['user', userId] } } ]"
            [src]="photo"
            alt=""
          />
        </figure>
        <div class="friend-name">
          <ins
            ><a href="time-line.html" title=""
              >{{ name }}</a
            ></ins
          >
          <span>published: {{ date.toISOString() }}</span>
        </div>
        <div class="post-meta">            
          <div class="description">
            <p>
              {{ message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>