<div class="central-meta item">
    <div class="user-post">
      <div class="friend-info">
        <figure>
          <img
            src="assets/images/resources/friend-avatar10.jpg"
            alt=""
          />
        </figure>
        <div class="friend-name">
          <ins
            ><a href="time-line.html" title=""
              >Janice Griffith</a
            ></ins
          >
          <span>published: june,2 2018 19:PM</span>
        </div>
        <div class="post-meta">            
          <div class="description">
            <p>
              World's most beautiful car in Curabitur
              <a href="#" title="">#test drive booking !</a> the
              most beatuiful car available in america and the
              saudia arabia, you can book your test drive by our
              official website
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>