<div class="central-meta target-scroll-new-post">
  <div class='post-iteraction-type align-right' *ngIf="postInteraction !== null">
    <span class='post-iteraction-close' (click)='triggerPostInteractionClear()'>
      <i _ngcontent-usr-c19="" class="ti-close"></i>
    </span>
    {{ postInteraction?.type | firstCharUppercase }} to 
    <app-user-name-photo-text [user]='postInteraction.user'></app-user-name-photo-text>
  </div>
  <div class="new-postbox">
    <figure>
      <img [src]="loggedUserData?.photo" alt="" />
    </figure>
    <div class="newpst-input">
      <form method="post">
        <textarea [(ngModel)]="typedMessage" [ngClass]="{'input-danger' : isInvalidCharactersLength()}"
          name="typedMessage" class="typedMessage" rows="3" placeholder="Write something"></textarea>
        <div class="attachments">
          <ul>
            <li>
              <span [ngClass]="{'red-text-alert' : isInvalidCharactersLength()}">
                {{ getCharactersLeft() }} remaining
              </span>
              <button type="submit" class='send-new-post-button' (click)="sendNewPost()">Post</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>