
<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <!-- sidebar -->
            <div class="col-lg-10 margin-auto">
              <app-home-type-new-post></app-home-type-new-post>
              <!-- add post new box -->
              <app-home-show-post></app-home-show-post>
            </div>
            <!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
