/* You can add global styles to this file, and also import other style files */


.margin-auto {
    margin: auto;
}

.strong-text, .post-actions-item:hover
{
	color: #31afb4;	
}

.post-quoted-body {
    padding: 1.5%;
}